<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <title>Socks</title>        
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img v-bind:src="image" v-bind:alt="altText"/>
                </div>
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p>{{ description }}</p>
                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <ul v-for="size in sizes">
                        <li>{{ size }}</li>
                    </ul>

                    <div v-for="variant in variants":key="variant.variantId">
                        <p>{{ variant.variantColor }}</p>
                    </div>                
                    <p v-if="inventory > 10">In Stock</p>
                    <p v-else-if="10 >= inventory && inventory > 0">Almost sold out !</p>
                    <p v-else>Out of Stock</p>
                    <span v-show="onSale">On Sale !</span>                    
                    <p><a :href="link" target="_blank">More products like this</a></p>
                    <button v-on:click="addToCart">Add to Cart</button>
                    <div class="cart">
                        <p>Cart({{ cart }})</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>    
        <script src="main.js"></script>
    </body>
</html>